.button {
  border-radius: 8px;
  background-color: #d89c00;
  color: #fff;
  min-width: 140px;
  padding: 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  transition: 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
