.input {
  &-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(118, 118, 128, 0.12);
    border-radius: 12px;
    padding: 12px 6px 12px 12px;

    border: 1px solid;
    border-image-source: linear-gradient(
      91.33deg,
      rgba(255, 255, 255, 0.08) 1.08%,
      rgba(255, 255, 255, 0.04) 48.1%,
      rgba(255, 255, 255, 0.08) 100%
    );
  }

  &-control {
    display: flex;
    align-items: center;
    background-color: rgba(118, 118, 128, 0);
    border-radius: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #b0b0b0;
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;

    &::placeholder {
      color: #b0b0b0;
      opacity: 0.7;
    }
  }

  &-icon {
    width: 30px;
    height: 30px;
    padding-right: 1rem;

    &--click {
      cursor: pointer;
    }
  }
}
